:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #53402d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-style: italic;
  padding-left: 5px;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  position: relative;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background-color: var(--primary);
  bottom: -10px;
  left: 1px;
  transform: scaleX(0);
  transition: all 0.3s;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.9);
}

.navbar .navbar-exstra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-exstra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar Search Form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 40rem;
  height: 4rem;
  display: flex;
  align-items: center;
  transform: scale(0);
  transform-origin: top;
  transition: all 0.3s;
}

.navbar .search-form.active {
  transform: scale(1);
}

.navbar .search-form #search-box {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  color: var(--bg);
  margin-right: 1rem;
  line-height: 0;
}

/* shopping-cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  color: var(--bg);
  background-color: #fff;
  transition: all 0.5s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart .cart-item img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
}
/* Navbar end */

/* Hero Section */
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url(img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3.4rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.786);
  margin: 0.4rem 0;
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.4rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* Hero Section End */

/* About Section */
.about,
.menu,
.produks,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.produks h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-top: 3rem;
  margin-bottom: 0.8rem;
}

.about span,
.menu span,
.contact span,
.produks span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: rgba(255, 255, 255, 0.786);
  font-weight: 100;
  line-height: 1.6;
}
/* About Section End */

/* Menu Section End */
.menu p,
.produks p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  font-size: 1.1rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}
.menu .menu-card {
  text-align: center;
  padding: 3rem;
  margin-bottom: 1rem;
}

.menu .row .menu-card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.menu .row .menu-card-title {
  text-align: center;
}
/* Menu Section end */

/* Product section start */
.produks .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.produks .produk-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.produks .produk-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.produks .produk-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #666;
  margin: 0.3rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produks .produk-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.produks .row .produk-img {
  padding: 1rem 0;
}
.produks .row .produk-img img {
  width: 80%;
  height: 30rem;
  object-fit: cover;
}

.produks .produk-content h3 {
  font-size: 1.8rem;
}

.produks .produk-price,
.modal .produk-price {
  font-size: 1.3rem;
  margin-top: 0.6rem;
  font-weight: 600;
}

.produks .produk-price span,
.modal .produk-price span {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: italic;
}
/* Product section end */

/* Contact section start */
.contact .row {
  display: flex;
  margin-top: 3rem;
  background-color: #333;
  /* flex-wrap: wrap; */
}

.contact .row .maps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-grup {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
  border-radius: 3px;
}

.contact .row form .input-grup input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 3px;
}
/* Contact section end */

/* footer start */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.5rem;
}

footer .links a {
  color: #fff;
  margin: 7rem 1rem;
}

footer .credit {
  font-size: 1rem;
}

footer .credit span {
  color: var(--bg);
  font-style: italic;
  font-weight: 600;
}

footer .credit p {
  font-size: 1.2rem;
}
/* footer end */

/* modal box start */
/* item detail */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow: auto;
  background-color: rgba(1, 1, 1, 0.6);
}

.modal .modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: auto;
  /* height: 40rem; */
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal 0.8s;
}

.modal .modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal .modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal .modal-content img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal .modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal .modal-content a {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  color: #fff;
  gap: 0.5rem;
  width: 15rem;
  margin-top: 1.5rem;
}

/* model animation */
@keyframes animateModal {
  from {
    top: -500px;
    overflow: 0;
  }

  to {
    top: 0;
    overflow: 1;
  }
}
/* modal box end */

/* Media Query */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: all 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  /* About Section start */
  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
  }

  .about .row .content p {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
  /* About Section Emd */

  /* Menu section start */
  .menu p {
    font-size: 1.4rem;
  }
  /* Menu section end */

  /* contact section start */
  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .maps {
    height: 40rem;
  }

  .contact form {
    padding: 1rem 2rem 3rem;
  }
  /* contact section end */

  /* modal box item start */
  .modal .modal-content {
    flex-wrap: wrap;
  }
  /* modal box item end */
}

/* mobile */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }

  .navbar .search-form {
    width: 90%;
  }
}
